<div class="col-md-12">
  <form name="config">
    <div class="col-md-12">
      <td><input type="checkbox" ng-model="configVm.config.autostart" ng-click="configVm.setConfig()"> Autostart Mining</td>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <table class='table table-borderless'>
          <tr>
            <td>Region</td>
            <td>
              <select name="regionSelect" id="regionSelect"
                      ng-options="region.id as region.name for region in configVm.config.regions"
                      ng-model="configVm.config.region" required></select>
            </td>
          </tr>
          <tr>
            <td>Proxy</td>
            <td><input type="text" name="proxy" ng-model="configVm.config.proxy" size="32" placeholder="optional"></td>
          </tr>
          <tr>
            <td>Rig Name</td>
            <td><input type="text" name="rigName" ng-model="configVm.config.rigName" size="8" placeholder="required" required></td>
          </tr>
        </table>
      </div>

      <div class="col-md-5">
        <table class='table table-borderless'>
          <tr>
            <td>BTC Address</td>
            <td><input type="text" name="btcAddress" ng-model="configVm.config.btcAddress" size="42" placeholder="required" required></td>
          </tr>
          <tr>
            <td>binPath</td>
            <td><input type="text" name="binPath" ng-model="configVm.config.binPath" size="26" placeholder="path to miner bin" required></td>
          </tr>
          <tr>
            <td>Cores</td>
            <td><input type="number" name="cores" ng-model="configVm.config.cores" placeholder="empty for all cores"></td>
          </tr>
        </table>
      </div>
    </div>
    <div>
      <input type="checkbox" ng-model="configVm.config.writeMinerLog" ng-click="configVm.setConfig()">write Miner Log to file
    </div>
    <div class="col-md-12">
      <br />
      <b>Benchmarks:</b>
      <br />
      Benchmark time: <input type="number" name="benchTime" ng-model="configVm.config.benchTime" placeholder="in seconds" required>
      <table class='table table-borderless'>
        <tr>
          <th>enabled</th>
          <th>algorithm</th>
          <th>benchmarked speed</th>
          <th>custom miner path</th>
          <th>override core count</th>
          <th>benchmark running</th>
        </tr>
        <tr ng-repeat="(key, algo) in configVm.config.benchmarks  track by $index">
          <td><input type="checkbox" ng-model="algo.enabled" ng-click="configVm.setConfig()"></td>
          <td>{{algo.name}}</td>
          <td><input type="number" name="hashrate-{{algo.name}}" ng-model="algo.hashrate" placeholder="hashrate"> KH/s</td>
          <td><input type="text" name="binPath-{{algo.name}}" ng-model="algo.binPath" placeholder="path to custom miner bin" size="26"></td>
          <td><input type="number" name="cores-{{algo.name}}" ng-model="algo.cores" placeholder="custom core count"></td>
          <td><i ng-show="algo.benchRunning" class="fa fa-cog fa-spin fa-lg fa-fw"></i><span ng-show="algo.benchRunning" class="sr-only">Loading...</span><span ng-show="!algo.benchRunning">no</span></td>
        </tr>
      </table>
    </div>
    <div class="col-md-12" style="margin-bottom: 10px;">
      <button type="button" class="btn btn-success" ng-disabled="config.$invalid" ng-click="configVm.setConfig()">Save
      </button>
      <i ng-show="configVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </form>
  <div style="margin-bottom: 10px;">
    <button ng-show="!configVm.waitingBenchmark" type="button" class="btn btn-success" ng-click="configVm.doBenchmark()">Run Benchmark
    </button>
    <button ng-show="configVm.waitingBenchmark" type="button" class="btn btn-success" disabled>Benchmark running..
    </button>
    <i ng-show="configVm.waitingBenchmark" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div style="margin-bottom: 10px;">
    <a href="https://www.nicehash.com/?p=calc{{configVm.profitabilityString}}" target="_blank">Check Profitability</a>
  </div>
  <div style="margin-bottom: 10px;">
    <button ng-show="!configVm.updating" type="button" class="btn btn-success" ng-click="configVm.update()"><i class="fa fa-refresh" aria-hidden="true"></i> Git Pull
    </button>
    <button ng-show="configVm.updating" type="button" class="btn btn-success" disabled><i class="fa fa-refresh" aria-hidden="true"></i> update running..
    </button>
    <i ng-show="configVm.updating" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div style="margin-bottom: 10px;">
    <button ng-show="!configVm.updatingMiner" type="button" class="btn btn-success" ng-click="configVm.updateMiner()"><i class="fa fa-refresh" aria-hidden="true"></i> Update Miner (only Linux)
    </button>
    <button ng-show="configVm.updatingMiner" type="button" class="btn btn-success" disabled><i class="fa fa-refresh" aria-hidden="true"></i> update running..
    </button>
    <i ng-show="configVm.updatingMiner" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>
