<div class="col-md-12">
  <form name="config">
    <div class="row">
      <td><input type="checkbox" ng-model="configVm.config.cpu.enabled" ng-click="configVm.setConfig()"> [CPU] Enabled</td>
    </div>
    <div class="row" ng-show="configVm.config.cpu.enabled" style="margin-bottom: 10px;">
      <div class="col-md-12">
        <div class="row">
          <td><input type="checkbox" ng-model="configVm.config.cpu.autostart" ng-click="configVm.setConfig()"> [CPU] Autostart Mining</td>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <table class='table table-borderless'>
          <tr>
            <td>[CPU] Nicehash Region</td>
            <td>
              <select name="regionSelect" id="regionSelectCPU"
                      ng-options="region.id as region.name for region in configVm.config.regions"
                      ng-model="configVm.config.cpu.region" required></select>
            </td>
          </tr>
          <tr>
            <td>[CPU] Proxy</td>
            <td><input type="text" name="proxy" ng-model="configVm.config.cpu.proxy" size="32" placeholder="optional"></td>
          </tr>
          <tr>
            <td>[CPU] write Miner Log to file</td>
            <td><input type="checkbox" ng-model="configVm.config.cpu.writeMinerLog" ng-click="configVm.setConfig()"></td>
          </tr>
        </table>
      </div>

      <div class="col-md-5">
        <table class='table table-borderless'>
          <tr>
            <td>[CPU] BTC Address</td>
            <td><input type="text" name="btcAddress" ng-model="configVm.config.cpu.btcAddress" size="42" placeholder="required" required></td>
          </tr>
          <tr>
            <td>[CPU] binPath</td>
            <td><input type="text" name="binPath" ng-model="configVm.config.cpu.binPath" size="26" placeholder="path to miner bin" required></td>
          </tr>
          <tr>
            <td>[CPU] Cores</td>
            <td><input type="number" name="cores" ng-model="configVm.config.cpu.cores" placeholder="empty for all cores"></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <td><input type="checkbox" ng-model="configVm.config.nvidia.enabled" ng-click="configVm.setConfig()"> [NVIDIA] Enabled</td>
    </div>
    <div class="row" ng-show="configVm.config.nvidia.enabled" style="margin-bottom: 10px;">
      <div class="col-md-12">
        <div class="row">
          <td><input type="checkbox" ng-model="configVm.config.nvidia.autostart" ng-click="configVm.setConfig()"> [NVIDIA] Autostart Mining</td>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <table class='table table-borderless'>
          <tr>
            <td>[NVIDIA] Nicehash Region</td>
            <td>
              <select name="regionSelect" id="regionSelectNVIDIA"
                      ng-options="region.id as region.name for region in configVm.config.regions"
                      ng-model="configVm.config.nvidia.region" required></select>
            </td>
          </tr>
          <tr>
            <td>[NVIDIA] Proxy</td>
            <td><input type="text" name="proxy" ng-model="configVm.config.nvidia.proxy" size="32" placeholder="optional"></td>
          </tr>
          <tr>
            <td>[NVIDIA] write Miner Log to file</td>
            <td><input type="checkbox" ng-model="configVm.config.nvidia.writeMinerLog" ng-click="configVm.setConfig()"></td>
          </tr>
        </table>
      </div>

      <div class="col-md-5">
        <table class='table table-borderless'>
          <tr>
            <td>[NVIDIA] BTC Address</td>
            <td><input type="text" name="btcAddress" ng-model="configVm.config.nvidia.btcAddress" size="42" placeholder="required" required></td>
          </tr>
          <tr>
            <td>[NVIDIA] binPath</td>
            <td><input type="text" name="binPath" ng-model="configVm.config.nvidia.binPath" size="26" placeholder="path to miner bin" required></td>
          </tr>
        </table>
      </div>
    </div>

    <div>
      Rig Name: <input type="text" name="rigName" ng-model="configVm.config.rigName" size="8" placeholder="required" required>
    </div>
    <div>
      <a href="https://github.com/felixbrucker/profitability-service" target="_blank">Profitability-Service</a> URL: <input type="text" name="profitabilityServiceUrl" ng-model="configVm.config.profitabilityServiceUrl" size="26" placeholder="IP:PORT eg. 127.0.0.1:8081">
    </div>

    <div class="col-md-12" ng-show="configVm.config.cpu.enabled">
      <br />
      <b>[CPU] Benchmarks:</b>
      <br />
      [CPU] Benchmark time: <input type="number" name="benchTime" ng-model="configVm.config.cpu.benchTime" placeholder="in seconds" required>
      <table class='table table-borderless'>
        <tr>
          <th>enabled</th>
          <th>algorithm</th>
          <th>benchmarked speed</th>
          <th>custom miner path</th>
          <th>override core count</th>
          <th>benchmark running</th>
        </tr>
        <tr ng-repeat="(key, algo) in configVm.config.benchmarks  track by $index">
          <td ng-if="algo.cpu!==undefined"><input type="checkbox" ng-model="algo.cpu.enabled" ng-click="configVm.setConfig()"></td>
          <td ng-if="algo.cpu!==undefined">{{key}}</td>
          <td ng-if="algo.cpu!==undefined"><input type="number" name="hashrate-{{key}}-CPU" ng-model="algo.cpu.hashrate" placeholder="hashrate"> KH/s</td>
          <td ng-if="algo.cpu!==undefined"><input type="text" name="binPath-{{key}}-CPU" ng-model="algo.cpu.binPath" placeholder="path to custom miner bin" size="26"></td>
          <td ng-if="algo.cpu!==undefined"><input type="number" name="cores-{{key}}-CPU" ng-model="algo.cpu.cores" placeholder="custom core count"></td>
          <td ng-if="algo.cpu!==undefined"><i ng-show="algo.cpu.benchRunning" class="fa fa-cog fa-spin fa-lg fa-fw"></i><span ng-show="algo.cpu.benchRunning" class="sr-only">Loading...</span><span ng-show="!algo.cpu.benchRunning">no</span></td>
        </tr>
      </table>
    </div>

    <div class="col-md-12" ng-show="configVm.config.nvidia.enabled">
      <br />
      <b>[NVIDIA] Benchmarks:</b>
      <br />
      [NVIDIA] Benchmark time: <input type="number" name="benchTime" ng-model="configVm.config.nvidia.benchTime" placeholder="in seconds" required>
      <table class='table table-borderless'>
        <tr>
          <th>enabled</th>
          <th>algorithm</th>
          <th>benchmarked speed</th>
          <th>custom miner path</th>
          <th>extra Parameter</th>
          <th>password Parameter</th>
          <th>benchmark running</th>
        </tr>
        <tr ng-repeat="(key, algo) in configVm.config.benchmarks  track by $index">
          <td ng-if="algo.nvidia!==undefined"><input type="checkbox" ng-model="algo.nvidia.enabled" ng-click="configVm.setConfig()"></td>
          <td ng-if="algo.nvidia!==undefined">{{key}}</td>
          <td ng-if="algo.nvidia!==undefined"><input type="number" name="hashrate-{{key}}-NVIDIA" ng-model="algo.nvidia.hashrate" placeholder="hashrate"> KH/s</td>
          <td ng-if="algo.nvidia!==undefined"><input type="text" name="binPath-{{key}}-NVIDIA" ng-model="algo.nvidia.binPath" placeholder="path to custom miner bin" size="26"></td>
          <td ng-if="algo.nvidia!==undefined"><input type="text" name="extraParam-{{key}}-NVIDIA" ng-model="algo.nvidia.extraParam" placeholder="extra Parameters"></td>
          <td ng-if="algo.nvidia!==undefined"><input type="text" name="passwordParam-{{key}}-NVIDIA" ng-model="algo.nvidia.passwordParam" placeholder="password Parameters"></td>
          <td ng-if="algo.nvidia!==undefined"><i ng-show="algo.nvidia.benchRunning" class="fa fa-cog fa-spin fa-lg fa-fw"></i><span ng-show="algo.nvidia.benchRunning" class="sr-only">Loading...</span><span ng-show="!algo.nvidia.benchRunning">no</span></td>
        </tr>
      </table>
    </div>

    <div class="col-md-12">
      <td><input type="checkbox" ng-model="configVm.config.custom.enabled" ng-click="configVm.setConfig()"> [CUSTOM] Enabled</td>
    </div>
    <div class="col-md-12" ng-show="configVm.config.custom.enabled" style="margin-bottom: 10px;">
      <div class="row">
        <td><input type="checkbox" ng-model="configVm.config.custom.autostart" ng-click="configVm.setConfig()"> [CUSTOM] Autostart Mining</td>
      </div>
    </div>
    <div class="col-md-12" ng-show="configVm.config.custom.enabled" style="margin-bottom: 10px;">
      <br />
      <b>[CUSTOM] miners:</b>
      <br />
      <table class='table table-borderless'>
        <tr>
          <th>enabled</th>
          <th>miner path</th>
          <th>commandline</th>
          <th>write miner log</th>
          <th>own shell window</th>
          <th>action</th>
        </tr>
        <tr ng-repeat="entry in configVm.config.custom.entries track by $index">
          <td><input type="checkbox" ng-model="entry.enabled" ng-click="configVm.setConfig()"></td>
          <td><input type="text" name="binPath-{{entry.id}}-CUSTOM" ng-model="entry.binPath" placeholder="path to miner bin" size="26"></td>
          <td><input type="text" name="cmdline-{{entry.id}}-CUSTOM" ng-model="entry.cmdline" placeholder="commandline for miner" size="42"></td>
          <td><input type="checkbox" ng-model="entry.writeMinerLog" ng-click="configVm.setConfig()"></td>
          <td><input type="checkbox" ng-model="entry.shell" ng-click="configVm.setConfig()"></td>
          <td><button type="button" class="btn btn-warning" ng-click="configVm.delCustomMiner(entry.id)">remove entry</button></td>
        </tr>
        <tr style="border-top: 1px solid lightgrey;">
          <td><input type="checkbox" ng-model="configVm.newCustomMiner.enabled"></td>
          <td><input type="text" name="binPath-newMiner-CUSTOM" ng-model="configVm.newCustomMiner.binPath" placeholder="path to miner bin" size="26"></td>
          <td><input type="text" name="cmdline-newMiner-CUSTOM" ng-model="configVm.newCustomMiner.cmdline" placeholder="commandline for miner" size="42"></td>
          <td><input type="checkbox" ng-model="configVm.newCustomMiner.writeMinerLog"></td>
          <td><input type="checkbox" ng-model="configVm.newCustomMiner.shell"></td>
          <td><button type="button" class="btn btn-success" ng-click="configVm.addCustomMiner()">add entry</button></td>
        </tr>
      </table>
    </div>

    <div class="col-md-12" style="margin-bottom: 10px;">
      <button type="button" class="btn btn-success" ng-click="configVm.setConfig()">Save
      </button>
      <i ng-show="configVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </form>
  <div style="margin-bottom: 10px;">
    <button ng-show="!configVm.waitingBenchmarkCPU" type="button" class="btn btn-success" ng-click="configVm.doBenchmark('cpu')">[CPU] Run Benchmark
    </button>
    <button ng-show="configVm.waitingBenchmarkCPU" type="button" class="btn btn-success" disabled>[CPU] Benchmark running..
    </button>
    <i ng-show="configVm.waitingBenchmarkCPU" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div style="margin-bottom: 10px;">
    <button ng-show="!configVm.waitingBenchmarkNVIDIA" type="button" class="btn btn-success" ng-click="configVm.doBenchmark('nvidia')">[NVIDIA] Run Benchmark
    </button>
    <button ng-show="configVm.waitingBenchmarkNVIDIA" type="button" class="btn btn-success" disabled>[NVIDIA] Benchmark running..
    </button>
    <i ng-show="configVm.waitingBenchmarkNVIDIA" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div style="margin-bottom: 10px;">
    <button ng-show="!configVm.updating" type="button" class="btn btn-success" ng-click="configVm.update()"><i class="fa fa-refresh" aria-hidden="true"></i> Git Pull
    </button>
    <button ng-show="configVm.updating" type="button" class="btn btn-success" disabled><i class="fa fa-refresh" aria-hidden="true"></i> update running..
    </button>
    <i ng-show="configVm.updating" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div style="margin-bottom: 10px;">
    <button ng-show="!configVm.updatingMiner" type="button" class="btn btn-success" ng-click="configVm.updateMiner()"><i class="fa fa-refresh" aria-hidden="true"></i> Update Miner (only Linux)
    </button>
    <button ng-show="configVm.updatingMiner" type="button" class="btn btn-success" disabled><i class="fa fa-refresh" aria-hidden="true"></i> update running..
    </button>
    <i ng-show="configVm.updatingMiner" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
</div>
