<div class="col-md-6 col-md-offset-3">
  <button type="button" class="btn btn-success" ng-show="!statsVm.current.running" ng-click="statsVm.startMiner()">Start Miner</button>
  <button type="button" class="btn btn-danger" ng-show="statsVm.current.running" ng-click="statsVm.stopMiner()">Stop Miner</button>
  <i ng-show="statsVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
  <span class="sr-only">Loading...</span>
  <br />
  Miner is <span ng-show="!statsVm.current.running" class="label label-danger">stopped</span>
  <span ng-show="statsVm.current.running">
    <span class="label label-success">running</span><span ng-show="statsVm.current.benchRunning"> (in Benchmark Mode)</span>
    <br />
    <div class="col-md-6">
      <table class='table table-borderless'>
        <tr>
          <td>Hashrate</td>
          <td><span class="label label-primary">{{statsVm.current.hashrate}} {{statsVm.current.speedSuffix}}</span></td>
        </tr>
        <tr>
          <td>Profitability</td>
          <td ng-show="statsVm.current.profitability"><span class="label label-primary">{{statsVm.current.profitability | number:8}} BTC/Day</span></td>
        </tr>
        <tr>
          <td>Algorithm</td>
          <td><span class="label label-info">{{statsVm.current.algorithm}}</span></td>
        </tr>
        <tr>
          <td>Cores</td>
          <td><span class="label label-info">{{statsVm.current.cores}}</span></td>
        </tr>
        <tr>
          <td>Temperature</td>
          <td ng-show="statsVm.current.temperature"><span class="label label-info">{{statsVm.current.temperature}} °C</span></td>
        </tr>
      </table>
    </div>

    <div class="col-md-6">
      <table class='table table-borderless'>
        <tr>
          <td>Accepted Shares</td>
          <td><span class="label label-primary">{{statsVm.current.accepted}}</span></td>
        </tr>
        <tr>
          <td>Rejected Shares</td>
          <td><span class="label label-primary">{{statsVm.current.rejected}}</span></td>
        </tr>
        <tr>
          <td>Accepted Shares / Min</td>
          <td><span class="label label-info">{{statsVm.current.acceptedPerMinute}}</span></td>
        </tr>
        <tr>
          <td>Difficulty</td>
          <td><span class="label label-info">{{statsVm.current.difficulty}}</span></td>
        </tr>
        <tr>
          <td>Uptime</td>
          <td><span class="label label-info">{{statsVm.current.uptime | secondsToTimeString}}</span></td>
        </tr>
      </table>
    </div>
    <div class="col-md-12">
      Miner: {{statsVm.current.miner}} <br />
      <a ng-href="https://www.nicehash.com/?p=miners&addr={{statsVm.current.btcAddress}}" target="_blank">Nicehash Status Page</a>
    </div>
  </span>
</div>
